@media screen and (max-width: 1050px){
    .container {
        padding: 15px;
        /* display: flex; */
        /* flex-direction: column; */
        /* min-height: 100vh; */
        /* justify-content: space-between; */
        position: relative;
        z-index: 0;
        
    }

    /* ============================================ */

    .header {
        position: fixed;
        top: 33px;
        left: 15px;
        right: -15px;
        width: min(calc(100vw - 30px), 95vw);
        border-bottom: 1px solid #fff;
        text-align: center;
        align-items:center;        
    }

    .header > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        z-index: 15;
    }

    .header > ul > li {
        flex: 1;
        text-align: center;
       
    }

    .header > ul > li:first-child{
        text-align: left;
    }

    .header > ul > li:last-child{
        text-align: right;
    }

    .header-transparent {
        position: fixed;
        top: -15px;
        left: -15px;
        width: 100vw;
        height: 83px;
        background-color: #B2B2B2;
        z-index: -1;
    }

    /* ============================================ */
    .index-main {
        /* flex-grow: 1; */
        display:block;
        margin-top: 21vh;
        position:relative;
        z-index: -2;
    }

    .irukanotane-parent {
        /* position: fixed; */
        /* bottom: 54vh; */
        /* left: 70px; */
        /* width: 100vw; */
        margin:0;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: absolute;
        left: calc(-15px - 10px);
    }
    .irukanotane {
        font-size: 80px;
        line-height: 100%;
    }

    .only-sm {
        display: block;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 6vh;
        margin-left: 45vw;
    }

    .mobile-index-flex {
        /* display: flex; */
        position: relative;
        justify-content: center;
        display: block;
        margin: 0;
        /* width: 100vw; */
        height: 440px;
        margin-bottom: calc(18px * 3);
    }

    .links-ul {
        position: absolute;
        left: 45vw;
        top: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 433.08px;
        /* width: 100%; */
        /* align-items: flex-start; */
    }
        
    .links-ul > li {
        align-self: self-start;
    }

    /* ============================================ */

    .about-main {
        display: block;
        margin-top: calc(88px + 36px);
        margin-left: 0;
        position:relative;
        z-index: -5;
    }
    .about-box {
        width: 100%;
        height: 36px;
        border: 2px solid #fff;
        margin-bottom: 35px;
    }

    .about-title {
        font-size: 44px;
        /* height: 72px; */
        height: auto;
        font-weight: 700;
        margin-bottom: 18px;
        line-height: 36px;
    }

    .about-div {
        display: block;
        height: calc(18px * 8);
        margin-bottom: 36px;
    }

    .about-div > div {
        width: 100%;
        font-size: 16px;
        height: 54px;
        margin-bottom: 18px;
        /* line-height: 11-%; */
    }

    .about-contact {
        height: 36px!important;
        margin-bottom: 16px!important;
    }
    
    /* ============================================ */

    .discography-main {
        display: block;
        width: 75%;
        margin: 0 auto;
        margin-top: calc(88px + 36px);
        position:relative;
        z-index: -5;
    }
    .cd-data {
        margin-bottom: calc(18px * 4);
    }
    .cd  img{
        margin-bottom: 18px;
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .cd-data > div > h1 {
        font-size: 40px;
        height: calc(18px * 3);
        margin-bottom: 15px;
        font-weight: 400;
    }

    .cd-data ul {
        height: calc(18px * 5);
        
    }

    .cd-title-price {
        height: calc(18px * 3);
        margin-bottom: 15px;
    }
    .cd-title-price h1 {
        font-size: 40px;
        /* line-height: calc(35px * 3); */
    }
    .sine {
        height: calc(18px * 4 - 8px)!important;
        margin-bottom: 21px!important;
        line-height: 21px;
    }
    .sine-title  {
        margin-bottom: 25px!important;
    }

    .sine-br {
        display: block;
    }

    .tapto{
        display: block;
        text-align: center;
        font-size: 18px;
        margin-bottom: 9px;
    }

    /* ============================================ */
    /* .footer-transparent {
        position: fixed;
        left: -15px;
        bottom: 0px;
        width: 200vw;
        height: 70px;
        background-color: #B2B2B2;
        z-index: -1;
    } */
     .footer {
        position: relative;
        bottom: auto;
        left: auto;
        /* margin-top: 36px; */
        margin-left: 0;
        margin-bottom: 35px;
     }
}
